<a href="https://colab.research.google.com/github/podko-va/SQL_learning_ADV/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Устанавливаем необходимые библиотеки
import sqlite3
import pandas as pd

# Создаем подключение к базе данных в памяти
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Шаг 1: Создаем таблицы для демонстрации

# Таблица студентов
cursor.execute('''
CREATE TABLE students (
    student_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    age INTEGER
);
''')

# Таблица курсов
cursor.execute('''
CREATE TABLE courses (
    course_id INTEGER PRIMARY KEY,
    course_name TEXT,
    instructor TEXT
);
''')

# Таблица зачислений
cursor.execute('''
CREATE TABLE enrollments (
    enrollment_id INTEGER PRIMARY KEY,
    student_id INTEGER,
    course_id INTEGER,
    FOREIGN KEY(student_id) REFERENCES students(student_id),
    FOREIGN KEY(course_id) REFERENCES courses(course_id)
);
''')

# Шаг 2: Вставляем данные в таблицы
cursor.execute("INSERT INTO students (student_id, first_name, last_name, age) VALUES (1, 'John', 'Doe', 20);")
cursor.execute("INSERT INTO students (student_id, first_name, last_name, age) VALUES (2, 'Jane', 'Smith', 22);")
cursor.execute("INSERT INTO students (student_id, first_name, last_name, age) VALUES (3, 'Alice', 'Johnson', 21);")

cursor.execute("INSERT INTO courses (course_id, course_name, instructor) VALUES (1, 'Math 101', 'Dr. Brown');")
cursor.execute("INSERT INTO courses (course_id, course_name, instructor) VALUES (2, 'History 201', 'Dr. Green');")
cursor.execute("INSERT INTO courses (course_id, course_name, instructor) VALUES (3, 'Science 301', 'Dr. White');")

cursor.execute("INSERT INTO enrollments (enrollment_id, student_id, course_id) VALUES (1, 1, 1);")
cursor.execute("INSERT INTO enrollments (enrollment_id, student_id, course_id) VALUES (2, 2, 2);")
cursor.execute("INSERT INTO enrollments (enrollment_id, student_id, course_id) VALUES (3, 3, 3);")
cursor.execute("INSERT INTO enrollments (enrollment_id, student_id, course_id) VALUES (4, 1, 2);")
cursor.execute("INSERT INTO enrollments (enrollment_id, student_id, course_id) VALUES (5, 2, 3);")

# Сохраняем изменения
conn.commit()

# Шаг 3: Запрос 1 - Основы SELECT
# Получаем список всех студентов
query = "SELECT * FROM students;"
students_df = pd.read_sql(query, conn)
print("All students:")
students_df

# Шаг 4: Введение в подзапросы (Subqueries)
# Пример: Найдем все курсы, на которых учится студент с ID = 1
query_subquery = '''
SELECT course_name
FROM courses
WHERE course_id IN (SELECT course_id FROM enrollments WHERE student_id = 1);
'''
courses_for_student_1 = pd.read_sql(query_subquery, conn)
print("\nCourses for student with ID 1 (using subquery):")
courses_for_student_1

# Шаг 5: Вложенные запросы (Nested Queries)
# Пример: Получим список студентов, которые учат курс "Math 101"
query_nested = '''
SELECT first_name, last_name
FROM students
WHERE student_id IN (
    SELECT student_id
    FROM enrollments
    WHERE course_id = (SELECT course_id FROM courses WHERE course_name = 'Math 101')
);
'''
students_for_math_101 = pd.read_sql(query_nested, conn)
print("\nStudents enrolled in 'Math 101' (nested query):")
students_for_math_101

# Закрываем соединение
conn.close()

All students:

Courses for student with ID 1 (using subquery):

Students enrolled in 'Math 101' (nested query):